body 
{
    background-color: #852467; 
    /*background-image: url("../images/skyline.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;	
}

img.logo 
{
    position: fixed;
    top: 22;
    left: 40;
}

button.navText
{
    border: none;
    background-color: inherit;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    margin-top: -3.3%;
    cursor: pointer;
}

button.navBorder /*come up with better name*/
{
    border: none;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    margin-top: -3.3%;
    padding: 5px;
    width: 6%;
    border-radius: 15px;
    cursor: pointer;
}

button.navText:hover 
{
    color: #FD8083;
}

button.navBorder:hover
{
    background-color: #30C0B7;
    color: #FFFFFF;
}

#signInBut
{
    position: fixed;
    left: 1750;
}

#aboutBut
{
    position: fixed;
    left: 750;
}

#settingBut
{
    position: fixed;
    left: 1110;
}

#title 
{
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    margin: 2% 6%;
    text-align: left;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Poppins', sans-serif; 
    color: #FFFFFF
;}

#loginDiv
{
    border-style: solid;
    border-color: #30C0B7;
    border-radius: 25px;
    font-size: 30px;
    width:93%;
    height: 75%;
    margin-left: 2%;
    margin-top: 3%;
    padding: 25px;
    /*background-color: #b2b2b2;*/
    background-color: rgba(104,90,210,0.5);
}

#circleDiv
{
    border-radius: 50%;
    background-color: #EE227D;
    margin: auto;
    margin-top: 2%;
    width: 600px;
    height: 600px;

}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    position: fixed;
    font-size: 30px;
    border-radius: 25px;
    width: 10%;
    /*margin-left: 35%;*/
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #30C0B7;
    color: #FFFFFF;
    /*opacity: 50%;*/
}

.center 
{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#loginButton
{
    margin-top: 10%;
}

#loginName
{
	font-size: 30px;
    width: 25%;
    bottom: 500;
    margin: 0;

}
#loginPassword
{
	font-size: 30px;
    width: 25%;
    bottom: 400;
    margin: 0;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 20%;
    font-family: 'Poppins', sans-serif;
    color: black;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
